body {
    background-color: beige;
}

.hidden {
    display: none;
}

.navbar {
    background-color: gray;
    margin: 5px;
    border-radius: 3px;
}

.container-fluid {
    margin-bottom: 0px;
}

.navbar-brand,
.navbar-brand:hover {
    font-weight: bold;
    font-size: 300%;
    color: beige;
    margin-right: 50px;
    margin-top: 3px;
}

.navbar .navbar-nav > li > a {
    color: darkgrey;
    font-weight: bold;
    font-size: 200%;
    background-color: beige;
    margin-top: 3px;
    margin-right: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar .navbar-nav > li > a:hover {
    color: beige;
    background-color: darkgrey;
}

.navbar .navbar-nav > li > a:focus {
    color: #5d5d5d;
}

.navbar .navbar-nav > li.active > a {
    cursor: default;
    color: #5d5d5d;
}

#logoutForm.navbar-form.navbar-right {
    margin-top: 15px;
}

#logoutForm.navbar-form.navbar-right > a,
#logoutForm.navbar-form.navbar-right > span {
    color: beige;
    font-weight: bold;
    font-size: 150%;
    margin: 0px;
    text-decoration: none;
}

#logoutForm.navbar-form.navbar-right > a:hover {
    color: #5d5d5d;
}

.btn-default {
    color: beige;
    background-color: gray;
}

.list-group {
    margin-top: 20px;
}

.form-inline {
    margin-top: 20px;
}

.btn-info {
    color: beige;
    background-color: gray;
}