body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: beige;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin input {
    margin-top: 0px;
}

.form-signin button {
    margin-top: 40px;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    font-weight: bold;
    font-size: 300%;
    color: beige;
    background-color: gray;
    border-radius: 3px;
    float: none;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.btn {
    color: beige;
    background-color: gray;
}